/* body */
.body {
  background: url("/img/bg/1.gif");
}

/* gerais */
.container {
  max-width: 900px;
  margin: 10px auto;
}

img {
  display: block;
  max-width: 100%;
}

.flex {
  display: flex;
}

.sub-titulo {
  font-size: 32px;
  font-family: Poppins;
  text-align: center;
}

.paragrafo {
  line-height: 1.1;
  font-size: 22px;
  font-family: sans-serif;
}

/* cursor */
/* League Of Legends Pointer - https://www.cursors-4u.com/cursor/league-of-legends-pointer */
* {
  cursor:
    url("https://cdn.cursors-4u.net/previews/league-of-legends-pointer-db2baa3d-32.webp")
      32 32,
    auto !important;
}
/* End www.Cursors-4U.com Code */
